Repository devonfw/cobigen, changes with the labels that .github/labeler.yml gives for each.
All labels: app:cli, app:eclipse, app:maven, comp:core, comp:htmlplugin, comp:javaplugin, comp:jsonplugin, comp:openapiplugin, comp:propertyplugin, comp:tempeng:freemarker, comp:tempeng:velocity, comp:textmerger, comp:tsplugin, comp:xmlplugin, documentation, templates

changed conflict configuration test
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/WikiConstants.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
Labels: comp:core

Changed configuration reader test (#1477)
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/WikiConstants.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
Labels: comp:core

changed increment name in GenerateCommandTest (#1474)
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/GenerateCommandTest.java
Labels: app:cli

fix tag name recovering
  .github/workflows/maven-build-test.yml
Labels: none

Update maven-build-test.yml
  .github/workflows/maven-build-test.yml
Labels: none

#1406 added test for mandatory root package variable
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
Labels: comp:openapiplugin

#1406 adapted VariableAssignmentTo and VariableAssignment to support mandatory tag, adapted usages
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/to/VariableAssignmentTo.java
  cobigen/cobigen-core-api/src/test/java/com/devonfw/cobigen/api/matchers/VariableAssignmentToMatcher.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/entity/VariableAssignment.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/model/ContextVariableResolver.java
Labels: comp:core

#1406 added xsd file with mandatory tag for variable assignment, removed constructor with mandatory as String
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/to/VariableAssignmentTo.java
  cobigen/cobigen-core/pom.xml
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/ContextConfigurationVersion.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/entity/VariableAssignment.java
  cobigen/cobigen-core/src/main/resources/schema/v2.2/contextConfiguration.xsd
  cobigen/cobigen-core/src/main/resources/schema/v2.2/templatesConfiguration.xsd
Labels: comp:core, comp:openapiplugin

#1406 adapted tests to changes made
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ContainerMatcherTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/util/PluginMockFactory.java
Labels: comp:core

#1406 added changed context upgrader tests from #1467
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/upgrade/ContextConfigurationUpgraderTest.java
Labels: comp:core

#1406 changed context configuration updater to update to the latest version
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
Labels: comp:core

#1479 replaced context menu project import with file menu import
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
Labels: app:eclipse

#1479 added SwtBot Utilities to cobigen-eclipse-test project replaced project delete with new SwtProjectActions.deleteProject
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/AdaptTemplatesTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/ClassPathLoadingTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/CobigenJavaWrapperTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/HealthCheckTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/MultipleMatchingTriggerTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/OpenAPITest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/VelocityGenerationTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/SystemTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/swtbot/SwtBotProjectActions.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/swtbot/SwtBotTestingUtilities.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/swtbot/SwtBotTimeoutManager.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/swtbot/SwtBotTreeUtilities.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/swtbot/SwtBotWorkbenchActions.java
Labels: app:eclipse

small adaptations to make core run with contextConfiguration version 2.2
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/ContextConfigurationUpgraderTest/valid-v2.2/context.xml
Labels: comp:core

change the openAPIMatcher to react as expected from the tests
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/integrationtest/InputReaderMatcherTest.java
Labels: comp:openapiplugin

#1479 moved healthcheck project into temporary folder ensured physically deletion for all cases in cleanup
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/HealthCheckTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
Labels: app:eclipse

add exception message
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
Labels: comp:openapiplugin

incorporating review comments
  documentation/cobigen-openapiplugin.asciidoc
  documentation/howto-devonfw-CobiGen-OpenAPI.asciidoc
  documentation/howto-devonfw-adapt_template.asciidoc
  documentation/howto-devonfw-ide-CobiGen-PoC-E2E.asciidoc
  documentation/howto_angular-client-generation.asciidoc
  documentation/howto_devon4net.asciidoc
  documentation/howto_ionic-client-generation.asciidoc
  documentation/mgmt_ide-setup.asciidoc
Labels: documentation

Spellchecker - Added reusable workflow and fixing spell mistake (#1444)
  .github/workflows/spellcheck.yml
  .spellcheck.yml
  documentation/_Sidebar.asciidoc
  documentation/cobigen-core_configuration.asciidoc
  documentation/cobigen-core_development.asciidoc
  documentation/cobigen-eclipse_installation.asciidoc
  documentation/cobigen-eclipse_usage.asciidoc
  documentation/cobigen-javaplugin.asciidoc
  documentation/cobigen-jsonplugin.asciidoc
  documentation/cobigen-openapiplugin.asciidoc
  documentation/cobigen-textmerger.asciidoc
  documentation/cobigen-usecases.asciidoc
  documentation/cobigen-xmlplugin.asciidoc
  documentation/eclipse-plugin_development.asciidoc
  documentation/guide_dev_troubleshooting.asciidoc
  documentation/howto-devonfw-CobiGen-OpenAPI.asciidoc
  documentation/howto-devonfw-adapt_template.asciidoc
  documentation/howto-devonfw-ide-CobiGen-PoC-E2E.asciidoc
  documentation/howto_Cobigen-CLI-generation.asciidoc
  documentation/howto_angular-client-generation.asciidoc
  documentation/howto_create-a-new-plugin.asciidoc
  documentation/howto_devon4net.asciidoc
  documentation/howto_enable_composite_primary_keys_in_entity.asciidoc
  documentation/howto_ionic-client-generation.asciidoc
  documentation/master-cobigen.asciidoc
  documentation/mgmt_dependency-and-license-tracking.asciidoc
  documentation/mgmt_ide-setup.asciidoc
  documentation/setup-jre.asciidoc
Labels: documentation

fixed resource listener to just be added if project exists
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/ConfigurationProjectListener.java
Labels: app:eclipse

implement requested changes
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/integrationtest/InputReaderMatcherTest.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/to/VariableAssignmentTo.java
  cobigen/cobigen-core-api/src/test/java/com/devonfw/cobigen/api/matchers/VariableAssignmentToMatcher.java
Labels: comp:core, comp:openapiplugin

reverse the deletion of a constructor which is still needed
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/to/VariableAssignmentTo.java
Labels: comp:core

#1478 tear down logback listener before config folder deletion
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/ConfigurationProjectListener.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/LogbackConfigChangeListener.java
Labels: app:eclipse

.github/labeler.yml:

app:cli:
- 'cobigen-cli/**/*'

app:eclipse:
- 'cobigen-eclipse/**/*'

app:maven:
- 'cobigen-maven/**/*'

CI/CD:
- any:['.github/**/*', '*.sh']

comp:core:
- 'cobigen/**/*'

comp:htmlplugin:
- 'cobigen-plugins/cobigen-htmlplugin/**/*'

comp:javaplugin:
- 'cobigen-plugins/cobigen-javaplugin-parent/**/*'

comp:jsonplugin:
- 'cobigen-plugins/cobigen-jsonplugin/**/*'

comp:openapiplugin:
- 'cobigen-plugins/cobigen-openapiplugin-parent/**/*'

comp:propertyplugin:
- 'cobigen-plugins/cobigen-propertyplugin/**/*'

comp:tempeng:freemarker:
- 'cobigen-plugins/cobigen-templateengines/cobigen-tempeng-freemarker/**/*'

comp:tempeng:velocity:
- 'cobigen-plugins/cobigen-templateengines/cobigen-tempeng-velocity/**/*'

comp:textmerger:
- 'cobigen-plugins/cobigen-textmerger/**/*'

comp:tsplugin:
- 'cobigen-plugins/cobigen-tsplugin/**/*'

comp:xmlplugin:
- 'cobigen-plugins/cobigen-xmlplugin/**/*'

documentation:
- 'documentation/**/*'

templates:
- 'cobigen-templates/**/*'
