Repository devonfw/cobigen, pull requests merged in 2018-06, with the labels that each got.

#653 Modify inputreader model so it accessess more data from .yaml file
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/EntityDef.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/HeaderDef.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/InfoDef.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/OperationDef.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/ResponseDef.java
  cobigen/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/model/ServerDef.java
  cobigen/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/inputreader/OpenAPIInputReaderTest.java
  cobigen/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/componentResponseType.yaml
  cobigen/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/two-components.yaml
Labels: cobigen-openapiplugin, enhancement

#657 Tempeng freemarker core version change
  cobigen/cobigen-templateengines/cobigen-tempeng-freemarker/pom.xml
Labels: cobigen-tempeng-freemarker

#658 Extract Openapiplugin model as already done with Javaplugin
  Jenkinsfile
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/pom.xml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ComponentDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/EntityDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/HeaderDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/InfoDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/OpenAPIFile.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/OperationDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ParameterDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/PathDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/PropertyDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ResponseDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ServerDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/pom.xml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/OpenAPIPluginActivator.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/OpenAPITriggerInterpreter.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/ModelConstant.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/util/constants/Constants.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/resources/META-INF/LICENSE.CobiGen
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/resources/META-INF/services/com.devonfw.cobigen.api.extension.GeneratorPluginActivator
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/integrationtest/InputReaderMatcherTest.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/inputreader/OpenAPIInputReaderTest.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/util/TestConstants.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/logback.xml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/one-component.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/root-package.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/context.xml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/testTemplates/templates.xml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/testTemplates/testModel_versionProperty.txt
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/testTemplates/testVariableAssignment_attribute.txt
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/testTemplates/testVariableAssignment_propertyName.txt
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/templates/testTemplates/testVariableAssignment_rootPackage.txt
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/two-components-no-attribute.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/integrationtest/InputReaderMatcherTest/two-components.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/CyclicalDependency.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/componentResponseType.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/invalidPath.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/invalidXComponent.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/paths-resolution.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/property-ref-many-to-one.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/property-ref-one-to-one.yaml
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/two-components.yaml
  cobigen/cobigen-openapiplugin-parent/pom.xml
  cobigen/pom.xml
Labels: cobigen-openapiplugin

#660 Update OpenAPITest to new openapiplugin model
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/OpenAPITest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/templates/templates/${variables.rootPackage}/${variables.component}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
Labels: cobigen-openapiplugin

#666 Update openapi templates to be compatible with new openapiplugin model
  cobigen-templates/templates-oasp4j/crud_openapi_java_server_app/functions.ftl
  cobigen-templates/templates-oasp4j/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/api/${variables.component#cap_first}.java.ftl
  cobigen-templates/templates-oasp4j/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/${variables.component#cap_first}Impl.java.ftl
  cobigen-templates/templates-oasp4j/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
  cobigen-templates/templates-oasp4j/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/impl/rest/${variables.component#cap_first}RestServiceImpl.java.ftl
  cobigen-templates/templates-oasp4j/src/test/java/templates/TemplatesGenerationTest.java
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesOpenApiInput/pom.xml
Labels: cobigen-templates

#673 Adding javadoc for UML templates
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/Connector.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/Connectors.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/OaspUtil.java
Labels: cobigen-templates

#677 Modified input reader to read proper response/parameter type
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/util/constants/Constants.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/inputreader/OpenAPIInputReaderTest.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/two-components.yaml
Labels: bugfix, cobigen-openapiplugin

#681 Fix bug aplying data of one parameter to every other one
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
Labels: bugfix, cobigen-openapiplugin

#685 Fix YAML syntax for Travis CI testing
  .travis.yml
Labels: CI/CD, bugfix

#686 Added EntityRef to ResponseDef
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ResponseDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
Labels: cobigen-openapiplugin

#682 Change packagename to fit other projects
  cobigen-eclipse/cobigen-eclipse-test/.classpath
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ClassPathLoadingTest/templates/src/main/java/com/devonfw/cobigen/templates/eclipse/test/utils/TestUtil.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/src/main/java/com/devonfw/cobigen/templates/eclipse/test/constants/Field.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/src/main/java/com/devonfw/cobigen/templates/eclipse/test/utils/OaspUtil.java
Labels: bugfix, cobigen-eclipse
