Repository devonfw/cobigen, pull requests merged in 2018-11, with the labels that each got.

#777 Angular templates to devon4j 3.0.0
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/cobigen.properties
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.ts.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/services/${variables.etoName#lower_case}.service.ts.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/src/assets/i18n/en.json.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_angular_client_app/templates/src/assets/i18n/es.json.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/repo/${variables.entityName}Repository.java.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/general/logic/base/AbstractGenericEntityUtils.java.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/cobigen.properties
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.ts.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/services/${variables.etoName#lower_case}.service.ts.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/src/assets/i18n/en.json.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/crud_openapi_angular_client_app/templates/src/assets/i18n/es.json.ftl
Labels: cobigen-templates

#779 Built jar of templates-oasp4j is incorrect
  cobigen-templates/pom.xml
Labels: cobigen-templates

#737 Kafka and REST documentation update
  cobigen-templates/templates-oasp4j/pom.xml
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/documentation/JavaDocumentationUtil.java
  cobigen-templates/templates-oasp4j/src/main/templates/documentation/kafka/templates/docs/${variables.component}To.adoc.ftl
  cobigen-templates/templates-oasp4j/src/main/templates/documentation/rest/templates/docs/${variables.component}RESTInterfaces.adoc.ftl
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/documentation/JavaDocumentationUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesRestServiceInput/pom.xml
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesRestServiceInput/src/main/java/io/github/devonfw/cobigen/generator/service/api/rest/JavaxAnnotationsInputRestService.java
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesRestServiceInput/src/main/java/io/github/devonfw/cobigen/generator/service/api/rest/SpringAnnotationsInputRestService.java
Labels: cobigen-templates

#793 DEVC-55 refreshing relative projects
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/CobiGenWrapper.java
Labels: cobigen-eclipse, enhancement

#790 Improving feedback to the user when updating templates
  cobigen-eclipse/cobigen-eclipse/plugin.xml
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/constants/external/CobiGenDialogConstants.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/constants/external/ResourceConstants.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/PathUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ResourcesPluginUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/GeneratorWrapperFactory.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/healthcheck/HealthCheckDialog.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/updatetemplates/UpdateTemplatesDialog.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/wizard/generate/control/GenerateSelectionJob.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/handler/AdaptTemplatesHandler.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/handler/UpdateTemplatesHandler.java
Labels: cobigen-eclipse
