Repository devonfw/cobigen, pull requests merged in 2018-07, with the labels that each got.

#689 Add field to ParameterDef clarifying parameter location
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ParameterDef.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
Labels: cobigen-openapiplugin, enhancement

#692 Renamed getter/setter to avoid issues in freemarker
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin-model/src/main/java/com/devonfw/cobigen/openapiplugin/model/ParameterDef.java
Labels: bugfix, cobigen-openapiplugin

#694 Added functionality to support multiple javadoc doclet tags of @param and @throws
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin-model/src/main/java/com/devonfw/cobigen/javaplugin/model/JavaModelUtil.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/inputreader/ParsedJavaModelBuilder.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/inputreader/ParsedJavaModelBuilderTest.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/inputreader/DocumentedClass.java
Labels: cobigen-javaplugin, enhancement

#695 Small bugfix, added parameter position to params javadoc map
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/inputreader/ParsedJavaModelBuilder.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/inputreader/ParsedJavaModelBuilderTest.java
Labels: bugfix, cobigen-javaplugin

#698 647: Fixing OpenApiPlugin
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
Labels: bugfix, cobigen-openapiplugin

#702 Added enum check to classloading
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/expected/Test2.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/jarredclasses/EnumTestJarredClass.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/jarredclasses/JarredEnum.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/jarredclasses/jarred.jar
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/templates/testTemplates/TestClassT2.java.ftl
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/templates/testTemplates/templates.xml
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/GenerationProcessorImpl.java
Labels: bugfix, cobigen-core

#706 Add src/main/templates to context reading
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/InvalidConfigurationException.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_source_folder/src/main/templates/context.xml
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/bar/BarClass.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/bar/Foo2Class.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/bar/FooClass.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/foo/Foo2Class.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/foo/FooClass.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/foo/bar/BarClass.java.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/reader/TemplatesConfigurationReaderTest/valid_source_folder/src/main/templates/templates.xml
Labels: cobigen-core, enhancement

#712 Util refactoring
  cobigen-templates/templates-oasp4j/crud_java_ea_uml/templates/java/${variables.rootPackage}/${variables.component}/common/api/${variables.className}.java.ftl
  cobigen-templates/templates-oasp4j/crud_java_ea_uml/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/${variables.className}Entity.java.ftl
  cobigen-templates/templates-oasp4j/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/rest/${variables.component#cap_first}RestServiceImpl.java.ftl
  cobigen-templates/templates-oasp4j/documentation/kafka/templates/docs/${variables.component}To.adoc.ftl
  cobigen-templates/templates-oasp4j/documentation/openapi/templates/docs/${variables.component}Doc.adoc.ftl
  cobigen-templates/templates-oasp4j/documentation/rest/templates/docs/${variables.component}RESTInterfaces.adoc.ftl
  cobigen-templates/templates-oasp4j/pom.xml
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/Connectors.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/JavaUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/OaspUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/OpenApiUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/documentation/DocumentationUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/documentation/JavaDocumentationUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/documentation/OpenApiDocumentationUtil.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/uml/Connector.java
  cobigen-templates/templates-oasp4j/src/main/java/com/devonfw/cobigen/templates/oasp4j/utils/uml/UmlUtil.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/templates/TemplatesGenerationTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/JavaUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/OaspUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/documentation/DocumentationUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/documentation/JavaDocumentationUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/documentation/OpenApiDocumentationUtilTest.java
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/resources/uml/completeUmlXmi.xml
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/utils/uml/UmlUtilTest.java
Labels: cobigen-templates, enhancement

#708 Added XML test.
  cobigen-templates/templates-oasp4j/src/test/java/com/devonfw/cobigen/templates/oasp4j/test/templates/TemplatesGenerationTest.java
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesXMLInput/logback.xml
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesXMLInput/pom.xml
  cobigen-templates/templates-oasp4j/src/test/resources/testdata/templatetest/TestAllTemplatesXMLInput/src/main/xml/io/github/devonfw/cobigen/generator/dataaccess/api/Input.xml
Labels: cobigen-templates, enhancement
