Repository devonfw/cobigen, pull requests merged in 2020-05, with the labels that each got.

#1166 Fix Classloader is missing dependencies
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/TemplatesClassloaderUtil.java
Labels: bugfix, cobigen-core

#1171 Ability to configure logging for cobigen-cli #1112
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/CobiGenCLI.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/logger/CLILogger.java
Labels: bugfix, cobigen-cli

#1175 added missing test classes
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/templates-classloading-testclasses/target/classes/utils/IDGenerator.class
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/templates-classloading-testclasses/target/test-classes/utils/OaspUtil.class
Labels: bugfix
