Repository devonfw/cobigen, pull requests merged in 2020-04, with the labels that each got.

#1137 Dev ionictemplateupdate
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/app-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/app.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/app.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-detail/${variables.etoName#lower_case}-detail.page.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-detail/${variables.etoName#lower_case}-detail.page.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-list/${variables.etoName#lower_case}-list.page.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-list/${variables.etoName#lower_case}-list.page.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/app.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/app.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-detail/${variables.etoName#lower_case}-detail.page.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-detail/${variables.etoName#lower_case}-detail.page.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-list/${variables.etoName#lower_case}-list.page.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-list/${variables.etoName#lower_case}-list.page.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/services/shared/business-operator.service.ts.ftl
Labels: cobigen-templates, enhancement

#1142 #1102 accept all kinds of input
  cobigen-eclipse/cobigen-eclipse/.classpath
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/GeneratorWrapperFactory.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/generic/FileInputConverter.java
Labels: bugfix, cobigen-eclipse

#1143 Abort generation if external trigger does not match
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/GenerationTest.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTest/externalIncrementGenerationException/context.xml
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTest/externalIncrementGenerationException/external_incrementRef/templates.xml
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTest/externalIncrementGenerationException/valid_increment_composition/templates.xml
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/GenerationTest/externalIncrementGenerationException/valid_increment_composition/templates/templateDec1.ftl
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/ConfigurationInterpreterImpl.java
Labels: bugfix, cobigen-core

#1144 Dev ngtemplateupdate
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/services/${variables.etoName#lower_case}.service.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/app-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/app.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/layout/nav-bar/nav-bar.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/assets/i18n/en.json.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/assets/i18n/es.json.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/environments/environment.prod.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/environments/environment.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/services/${variables.etoName#lower_case}.service.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/app-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/app.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/layout/nav-bar/nav-bar.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/assets/i18n/en.json.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/assets/i18n/es.json.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/environments/environment.prod.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/environments/environment.ts.ftl
Labels: cobigen-templates, enhancement

#1100 1099 NPE on health check
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/HealthCheckTest.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/healthcheck/HealthCheckDialog.java
Labels: bugfix, cobigen-eclipse

#1128 Dev devc 888 update java templates for composite keys
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/JavaUtil.java
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/common/api/${variables.entityName}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/${variables.entityName}Entity.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/repo/${variables.entityName}Repository.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}SearchCriteriaTo.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/rest/${variables.component#cap_first}RestServiceCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/soap/${variables.component#cap_first}SoapService.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/rest/${variables.component#cap_first}RestServiceImpl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/rest/${variables.component#cap_first}RestServiceImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/soap/${variables.component#cap_first}SoapServiceImpl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/api/usecase/UcFind${variables.entityName}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/api/usecase/UcFind${variables.entityName}Ctos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/api/usecase/UcManage${variables.entityName}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/${variables.component#cap_first}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/${variables.component#cap_first}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcFind${variables.entityName}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcFind${variables.entityName}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcManage${variables.entityName}Impl.java.ftl
  documentation/howto_enable_composite_primary_keys_in_entity.asciidoc
  documentation/master-cobigen.asciidoc
Labels: cobigen-templates, enhancement

#1146 Dev ionictemplateupdate bug fix
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/app-routing.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/templates/src/app/pages/${variables.etoName#lower_case}-detail/${variables.etoName#lower_case}-detail.page.ts.ftl
Labels: bugfix, cobigen-templates

#1127 #1119 added new TemplatesUtilsClassesUtil class to core (needs to be …
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/CobiGen.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-parent/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ClassLoadTest/jarredclasses/jarred.jar
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/CobiGenImpl.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/GenerationProcessorImpl.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/api/GenerationProcessor.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/FileSystemUtil.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/TemplatesClassloaderUtil.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/utils/TemplateClassTest.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/entity/TemplateClassTest/archive/templates.jar
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/entity/TemplateClassTest/folder/context.xml
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/entity/TemplateClassTest/folder/src/main/templates/context.xml
  cobigen/cobigen-core-parent/cobigen-core/src/test/resources/testdata/unittest/config/entity/TemplateClassTest/folder/target/classes/utils/IDGenerator.class
Labels: cobigen-core

#1134 (Eclipse-Plugin) Resolve Template utility classes from core
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/CobiGenWrapper.java
Labels: cobigen-eclipse, enhancement

#1136 (Cobigen-CLI) Resolve Template utility classes from core
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/CobiGenUtils.java
  cobigen-cli/cli/src/main/resources/pom.xml
Labels: cobigen-cli

#1069 953 dot path
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/ClassPathLoadingTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ClassPathLoadingTest/templates/templates/dotPathGeneration.ftl
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ClassPathLoadingTest/templates/templates/templates.xml
  cobigen-eclipse/cobigen-eclipse/META-INF/MANIFEST.MF
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/wizard/common/model/SelectFileContentProvider.java
Labels: bugfix, cobigen-eclipse

#1138 1108 dev cli feature custom templates folder
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/CobiGenCLI.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/AdaptTemplatesCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/CobiGenCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/UpdateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/constants/MessagesConstants.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/CobiGenUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ConfigurationUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ParsingUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/PluginUpdateUtil.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ValidationUtils.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/AdaptTemplatesCommandTest.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/GenerateCommandTest.java
  documentation/howto_Cobigen-CLI-generation.asciidoc
Labels: cobigen-cli, enhancement

#1067 Feature/158 lat variables syntax
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/entity/Variables.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/resolver/PathExpressionResolverTest.java
Labels: cobigen-core, enhancement

#1150 fix tsmerge null merging issue
  cobigen/cobigen-tsplugin/pom.xml
  cobigen/cobigen-tsplugin/src/test/java/com/devonfw/cobigen/tsplugin/merger/TypeScriptMergerTest.java
  cobigen/cobigen-tsplugin/src/test/resources/testdata/unittest/files/nullBase.ts
  cobigen/cobigen-tsplugin/src/test/resources/testdata/unittest/files/nullPatch.ts
Labels: cobigen-tsplugin
