Repository devonfw/cobigen, pull requests merged in 2020-12, with the labels that each got.

#1279 #1273 #1278 removed cross-reference for now
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/JavaUtil.java
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_service_based_app/templates.xml
Labels: bugfix, cobigen-templates

#1282 adjusted testBaseLineEndings unit test
  .gitattributes
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/JavaUtil.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/pom.xml
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/merger/JavaMergerTest.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_Eol.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/MergedFile_Eol.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_Eol.java
Labels: cobigen-javaplugin, enhancement

#1249 Dev propertyplugin line endings
  .travis.yml
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/JavaUtil.java
  cobigen/cobigen-propertyplugin/src/main/java/com/devonfw/cobigen/propertyplugin/PropertyMerger.java
Labels: bugfix, cobigen-propertyplugin

#1288 changed systemtest dependencies to latest versions
  cobigen/cobigen-core-parent/cobigen-core-systemtest/pom.xml
Labels: cobigen-javaplugin

#1260 fix test environment
  cobigen-cli/cli/pom.xml
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/UpdateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/CobiGenUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ValidationUtils.java
  cobigen-cli/cli/src/main/resources/pom.xml
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/AdaptTemplatesCommandTest.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/GenerateCommandTest.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/UpdateCommandTest.java
Labels: CI/CD, bugfix

#1276 Bugfix/1169 inconsistent template convention
  cobigen-cli/cli/pom.xml
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/AdaptTemplatesCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/CobiGenUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ConfigurationUtils.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/AdaptTemplatesCommandTest.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/GenerateCommandTest.java
Labels: bugfix, cobigen-cli

#1293 Update Mavenplugin dependencies
  cobigen-maven/cobigen-maven-plugin/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestClassLoadingWithTemplateFolder/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestDifferentFileSystems/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestEntityInputDataaccessGeneration/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestEntityInputDataaccessGenerationWithTemplateFolder/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestExceptionOnNothingToGenerate/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestNothingToGenerate/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/TestPackageInputDataaccessGeneration/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestClassLoadingWithTemplateFolder/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestDifferentFileSystems/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestEntityInputDataaccessGeneration/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestEntityInputDataaccessGenerationWithTemplateFolder/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestExceptionOnNothingToGenerate/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestNothingToGenerate/pom.xml
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Oasp4JTemplateTest/TestPackageInputDataaccessGeneration/pom.xml
  cobigen-maven/cobigen-maven-test/pom.xml
  cobigen-maven/cobigen-maven-test/src/main/java/com/devonfw/cobigen/maven/test/AbstractMavenTest.java
Labels: cobigen-maven

#1297 Update Cobigen dependencies to latest releases
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesEntityInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesEtoInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesOpenApiInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesRestServiceInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesToInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesXMLInput/pom.xml
Labels: cobigen-templates

#1295 Update core dependencies in eclipse plugin
  cobigen-eclipse/cobigen-eclipse-test/pom.xml
  cobigen-eclipse/cobigen-eclipse/.classpath
  cobigen-eclipse/cobigen-eclipse/META-INF/MANIFEST.MF
  cobigen-eclipse/cobigen-eclipse/build.properties
  cobigen-eclipse/cobigen-eclipse/pom.xml
Labels: cobigen-eclipse

#1298 fixed #1294 NPE
  cobigen/cobigen-textmerger/src/main/java/com/devonfw/cobigen/textmerger/TextAppender.java
  cobigen/cobigen-textmerger/src/test/java/com/devonfw/cobigen/textmerger/TextAppenderTest.java
  cobigen/cobigen-textmerger/src/test/resources/MergedBaseNoLineDelimiter.txt
  cobigen/cobigen-textmerger/src/test/resources/PatchBaseNoLineDelimiter.txt
  cobigen/cobigen-textmerger/src/test/resources/TestBaseNoLineDelimiter.txt
Labels: bugfix, cobigen-textmerger
