Repository devonfw/cobigen, pull requests merged in 2020-10, with the labels that each got.

#1222 Enable cobigen to be created without configFileorFolder passed
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core-parent/cobigen-core/pom.xml
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ConfigurationUtil.java
  cobigen/cobigen-core-parent/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/utils/ConfigurationUtilTest.java
Labels: cobigen-core, enhancement

#1274 fixed isValidInput for CLI
  cobigen/cobigen-tsplugin/src/main/java/com/devonfw/cobigen/tsplugin/inputreader/TypeScriptInputReader.java
  cobigen/cobigen-tsplugin/src/test/java/com/devonfw/cobigen/tsplugin/inputreader/TypeScriptInputReaderTest.java
Labels: bugfix, cobigen-tsplugin

#1258 #1244 fixed openapiplugin not being able to handle nullable enums
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/inputreader/OpenAPIInputReader.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/inputreader/OpenAPIInputReaderTest.java
  cobigen/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/resources/testdata/unittest/OpenAPIInputReaderTest/nullableEnum.yaml
Labels: bugfix, cobigen-openapiplugin
