Repository devonfw/cobigen, pull requests merged in 2020-08, with the labels that each got.

#1205 Update templates to angular 10
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-alert/${variables.etoName#lower_case}-alert.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-alert/${variables.etoName#lower_case}-alert.component.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.scss
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.spec.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}.module.ts.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/templates/src/app/${variables.etoName#lower_case}/components/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.html.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/templates/src/app/${variables.etoName#lower_case}/components/${variables.etoName#lower_case}-grid/${variables.etoName#lower_case}-grid.component.scss
Labels: cobigen-templates, enhancement

#1204 Template root path notifier (required for xml_plugin)
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/extension/GeneratorPluginActivator.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/ConfigurationHolder.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/extension/PluginRegistry.java
Labels: cobigen-core, enhancement

#1189 update nestserver and core version
  cobigen/cobigen-tsplugin/pom.xml
Labels: bugfix, cobigen-tsplugin

#1210 Dev core inputreader priorization
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/InputInterpreter.java
  cobigen/cobigen-core-parent/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/extension/InputReader.java
  cobigen/cobigen-core-parent/cobigen-core-test/src/main/java/com/devonfw/cobigen/test/assertj/GenerationReportToAssert.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/CobiGenImpl.java
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/InputInterpreterImpl.java
Labels: cobigen-core, enhancement

#1225 Pass current constructor if currentMethod is null.
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/merger/libextension/ModifyableModelBuilder.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/integrationtest/javaSources/SampleEntity.java
Labels: bugfix, cobigen-javaplugin

#1203 Dev xmlplugin merge schema validation
  cobigen/cobigen-xmlplugin/pom.xml
  cobigen/cobigen-xmlplugin/src/main/java/com/devonfw/cobigen/xmlplugin/XmlPluginActivator.java
  cobigen/cobigen-xmlplugin/src/main/java/com/devonfw/cobigen/xmlplugin/inputreader/XmlInputReader.java
  cobigen/cobigen-xmlplugin/src/main/java/com/devonfw/cobigen/xmlplugin/merger/delegates/MergeType.java
  cobigen/cobigen-xmlplugin/src/main/java/com/devonfw/cobigen/xmlplugin/merger/delegates/XmlMergerDelegate.java
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/incomplete_jfs-html.xml
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/incomplete_jsf-core.xml
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/incomplete_jsf-facelets.xml
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xhtml.xml
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/facelets-ui-2.0.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/html-basic-2.0.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_core_2_1.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_core_2_2.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_html_2_1.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_html_2_2.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_ui_2_1.xsd
  cobigen/cobigen-xmlplugin/src/main/resources/mergeSchemas/xsd/myfaces_facelets_ui_2_2.xsd
  cobigen/cobigen-xmlplugin/src/test/java/com/devonfw/cobigen/xmlplugin/integrationtest/XmlPluginIntegrationTest.java
  cobigen/cobigen-xmlplugin/src/test/java/com/devonfw/cobigen/xmlplugin/integrationtest/merger/XmlPluginMergerIntegrationTest.java
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/integrationtest/templates/testTemplates/templates.xml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/BaseFile_flow.xml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/BaseFile_overview.xhtml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/BaseFile_validation.xml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/PatchFile_flow.xml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/PatchFile_overview.xhtml
  cobigen/cobigen-xmlplugin/src/test/resources/testdata/unittest/merger/PatchFile_validation.xml
  documentation/cobigen-xmlplugin.asciidoc
Labels: cobigen-xmlplugin, enhancement

#1226 Change isMostLikelyReadable return type to fit changes made in core
  cobigen/cobigen-tsplugin/src/main/java/com/devonfw/cobigen/tsplugin/inputreader/TypeScriptInputReader.java
Labels: cobigen-tsplugin
