Repository devonfw/cobigen, pull requests merged in 2020-06, with the labels that each got.

#1193 #1191 changed input reading in javamerger to fix line endings
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/merger/JavaMerger.java
  cobigen/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/merger/JavaMergerTest.java
Labels: bugfix, cobigen-javaplugin

#1186 Bugfix/1176 error formatting generated code
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/test/java/com/devonfw/cobigen/cli/commandtests/GenerateCommandTest.java
  cobigen-cli/cli/src/test/resources/testdata/localmavenproject/maven.project/api/src/main/java/com/maven/project/sampledatamanagement/logic/api/to/SampleDataEto.java
Labels: bugfix, cobigen-cli

#1187 Added /api/ to ObjectBuilder template path
  cobigen-templates/templates-devon4j/src/main/templates/testdata_builder/templates.xml
Labels: bugfix, cobigen-templates
