Repository devonfw/cobigen, pull requests merged in 2020-07, with the labels that each got.

#1184 CLI increments to search based on both name and description of the
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  documentation/howto_Cobigen-CLI-generation.asciidoc
Labels: bugfix, cobigen-cli

#1188 Bugfix/1158 external servers does not update properly
  cobigen/cobigen-core-parent/cobigen-core/src/main/java/com/devonfw/cobigen/impl/externalprocess/ExternalProcessHandler.java
Labels: bugfix, cobigen-core

#1206 Adjusted core snapshot version due to a planned bugfix release
  cobigen/cobigen-core-parent/pom.xml
Labels: cobigen-core
