Repository devonfw/cobigen, pull requests merged in 2021-12, with the labels that each got.

#1436 #1433 enabled debug log output for CLI
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/logger/CLILogger.java
Labels: bugfix, app:cli

#1437 1393 fix reset to invalid mark
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/SystemUtil.java
  cobigen/cobigen-core-api/src/test/java/com/devonfw/cobigen/api/SystemUtilTest.java
  cobigen/cobigen-core-api/src/test/resources/testdata/unittest/SystemUtilTest/TestInvalidMark.txt
Labels: comp:core, bugfix

#1438 Fixed composite keys being changed into long
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/templates-devon4j/src/main/templates/crud_java_server_app/functions.ftl
  cobigen-maven/cobigen-maven-systemtest/src/test/resources/testdata/systemtest/Devon4JTemplateTest/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/DevonfwUtil.java
  cobigen-templates/templates-devon4j/src/main/java/com/devonfw/cobigen/templates/devon4j/utils/uml/UmlUtil.java
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_ea_uml/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/${variables.entityName}Entity.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/repo/${variables.entityName}Repository.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcFind${variables.entityName}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/api/${variables.component#cap_first}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/${variables.component#cap_first}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/usecase/UcFind${variables.entityName}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/impl/rest/${variables.component#cap_first}RestServiceImpl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_net/templates/Devon4Net.WebAPI.Implementation/Business/${variables.component#cap_first}Management/Controller/${variables.component#cap_first}Controller.cs.ftl
  cobigen-templates/templates-devon4j/src/test/java/com/devonfw/cobigen/templates/devon4j/test/utils/DevonfwUtilTest.java
Labels: templates

#1441 #1439 added test for merge of two interfaces without a super class
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/merger/JavaMerger.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/merger/JavaMergerTest.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_InterfaceWOSuperClass.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_InterfaceWOSuperClass.java
Labels: comp:javaplugin, bugfix

#1443 1418 fix adapt templates
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AdaptTemplatesCommandTest.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ExtractTemplatesUtil.java
Labels: comp:core, app:eclipse, bugfix, app:cli

#1446 Added extra step for build process to emphasize this step
  documentation/mgmt_ide-setup.asciidoc
Labels: documentation

#1449 #1447 added missing placeholder
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/templates/src/app/${variables.etoName#lower_case}/${variables.etoName#lower_case}-dialog/${variables.etoName#lower_case}-dialog.component.html.ftl
Labels: templates, bugfix

#1445 #1434 added repeatable prompt for output path of OpenApi generation
  cobigen-cli/cli/pom.xml
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/GenerateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/UpdateCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/exceptions/UserAbortException.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ParsingUtils.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/utils/ValidationUtils.java
Labels: app:cli
