Repository devonfw/cobigen, pull requests merged in 2021-09, with the labels that each got.

#1392 Fix Eclipse plug-in tests on github actions
  .github/workflows/maven-build-test.yml
Labels: cobigen-eclipse, CI/CD, bugfix

#1390 #1372 fixed META-INF output directory
  cobigen-templates/pom.xml
Labels: bug, cobigen-templates, CI/CD, bugfix

#1398 Open APIregex trigger bugfix
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/OpenAPITest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/input/two-components.yml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/templates_regex_a/templates.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/templates_regex_a/templates/lowercase.ftl
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/templates_regex_b/templates.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/templates_regex_b/templates/${variables.entityName}/${variables.entityName}-name.ftl
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/CobiGenWrapper.java
Labels: cobigen-eclipse, bugfix, cobigen-openapiplugin
