Repository devonfw/cobigen, pull requests merged in 2022-04, with the labels that each got.

#1504 1452 Implemented new configuration reader to read the template sets
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AbstractCliTest.java
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AdaptTemplatesCommandTest.java
  cobigen-cli/cli-systemtest/src/test/resources/testdata/crud-java-server-app.jar
  cobigen-cli/cli/src/main/resources/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/AdaptTemplatesTest.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ResourcesPluginUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/GeneratorWrapperFactory.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/healthcheck/HealthCheckDialog.java
  cobigen-templates/templates-devon4j-tests/src/test/java/com/devonfw/cobigen/templates/devon4j/test/templates/TemplatesGenerationTest.java
  cobigen-templates/templates-devon4j-tests/src/test/resources/utils/pom.xml
  cobigen-templates/templates-devon4j-utils/pom.xml
  cobigen-templates/templates-devon4j-utils/pom_patch.xml
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/CobiGenPaths.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/TemplatesJarUtil.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplateProcessingTest.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/ConfigurationHolder.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/ContextConfiguration.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/AbstractContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReaderFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationSetReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/GenerationProcessorImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ConfigurationClassLoaderUtil.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ConfigurationFinder.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ExtractTemplatesUtil.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/invalid_template_sets/template-sets/adapted/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/invalid_template_sets/template-sets/downloaded/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets/template-sets/adapted/test_template/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets/template-sets/adapted/test_template2/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets/template-sets/downloaded/template-set1.jar
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets_adapted/template-sets/adapted/test_template/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets_adapted/template-sets/adapted/test_template2/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_template_sets_downloaded/template-sets/downloaded/template-set1.jar
  documentation/Guide-to-the-Reader.asciidoc
  documentation/Home.asciidoc
  documentation/cobigen-usecases.asciidoc
  documentation/howto_angular-client-generation.asciidoc
  documentation/howto_ionic-client-generation.asciidoc
  documentation/images/howtos/angular4-gen/ng4gen_1.png
  documentation/images/howtos/angular4-gen/ng4gen_5.png
  documentation/images/howtos/angular4-gen/ng4gen_6.png
Labels: templates, comp:core, app:eclipse, documentation, app:cli, Team_CobiGen_Templates

#1515 Template set deployables test optimizations
  cobigen-eclipse/cobigen-eclipse-test/.classpath
  cobigen-eclipse/cobigen-eclipse-test/build.properties
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ContainerMatcherTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/GenerationTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplateProcessingTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TriggerActivationTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/util/PluginMockFactory.java
  cobigen/cobigen-core-test/pom.xml
  cobigen/cobigen-core-test/src/main/java/com/devonfw/cobigen/test/matchers/CustomHamcrestMatchers.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/exceptions/UnknownContextVariableException.java
Labels: comp:core, app:eclipse, Team_CobiGen_Templates

#1500 Add tags, detailed description and tutorial links to config files
  cobigen-templates/crud-angular-client-app/src/main/resources/context.xml
  cobigen-templates/crud-angular-client-app/src/main/resources/templates.xml
  cobigen-templates/crud-ionic-client-app/src/main/resources/context.xml
  cobigen-templates/crud-ionic-client-app/src/main/resources/templates.xml
  cobigen-templates/crud-java-ea-uml/src/main/resources/context.xml
  cobigen-templates/crud-java-ea-uml/src/main/resources/templates.xml
  cobigen-templates/crud-java-server-app-complex/src/main/resources/context.xml
  cobigen-templates/crud-java-server-app-complex/src/main/resources/templates.xml
  cobigen-templates/crud-java-server-app/src/main/resources/context.xml
  cobigen-templates/crud-java-server-app/src/main/resources/templates.xml
  cobigen-templates/crud-ngrx-client-app/src/main/resources/context.xml
  cobigen-templates/crud-ngrx-client-app/src/main/resources/templates.xml
  cobigen-templates/crud-openapi-angular-client-app/src/main/resources/context.xml
  cobigen-templates/crud-openapi-angular-client-app/src/main/resources/templates.xml
  cobigen-templates/crud-openapi-angular-service-based-app/src/main/resources/context.xml
  cobigen-templates/crud-openapi-angular-service-based-app/src/main/resources/templates.xml
  cobigen-templates/crud-openapi-ionic-client-app/src/main/resources/context.xml
  cobigen-templates/crud-openapi-ionic-client-app/src/main/resources/templates.xml
  cobigen-templates/crud-openapi-java-server-app/src/main/resources/context.xml
  cobigen-templates/crud-openapi-java-server-app/src/main/resources/templates.xml
  cobigen-templates/crud-openapi-net/src/main/resources/context.xml
  cobigen-templates/crud-openapi-net/src/main/resources/templates.xml
  cobigen-templates/crud-typescript-angular-client-app/src/main/resources/context.xml
  cobigen-templates/crud-typescript-angular-client-app/src/main/resources/templates.xml
  cobigen-templates/kafka-documentation/src/main/resources/context.xml
  cobigen-templates/kafka-documentation/src/main/resources/templates.xml
  cobigen-templates/named-queries/src/main/resources/templates.xml
  cobigen-templates/openapi-documentation/src/main/resources/context.xml
  cobigen-templates/openapi-documentation/src/main/resources/templates.xml
  cobigen-templates/rest-documentation/src/main/resources/context.xml
  cobigen-templates/rest-documentation/src/main/resources/templates.xml
  cobigen-templates/security-permissions/src/main/resources/templates.xml
  cobigen-templates/templates-devon4j-tests/src/main/templates/named_queries/context.xml
  cobigen-templates/templates-devon4j-tests/src/main/templates/security_permissions/context.xml
  cobigen-templates/testdata-builder/src/main/resources/context.xml
  cobigen-templates/testdata-builder/src/main/resources/templates.xml
  cobigen/cobigen-core/pom.xml
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/ContextConfigurationVersion.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/TemplatesConfigurationVersion.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
  cobigen/cobigen-core/src/main/resources/schema/v2.2/contextConfiguration.xsd
  cobigen/cobigen-core/src/main/resources/schema/v3.0/contextConfiguration.xsd
  cobigen/cobigen-core/src/main/resources/schema/v5.0/templatesConfiguration.xsd
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/upgrade/ContextConfigurationUpgraderTest.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/upgrade/TemplateConfigurationUpgraderTest.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/healthcheck/HealthCheckTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/ContextConfigurationUpgraderTest/valid-v2.2/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/ContextConfigurationUpgraderTest/valid-v3.0/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/TemplatesConfigurationUpgraderTest/valid-v4.0/templates.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/TemplatesConfigurationUpgraderTest/valid-v5.0/templates.xml
Labels: templates, comp:core, Team_CobiGen_Templates

#1523 #1291 fixed export const override issue
  cobigen-plugins/cobigen-tsplugin/pom.xml
  cobigen-plugins/cobigen-tsplugin/src/test/java/com/devonfw/cobigen/tsplugin/merger/TypeScriptMergerTest.java
  cobigen-plugins/cobigen-tsplugin/src/test/resources/testdata/unittest/files/export_const_base.ts
  cobigen-plugins/cobigen-tsplugin/src/test/resources/testdata/unittest/files/export_const_patch.ts
Labels: comp:tsplugin, Team_CobiGen_Templates

#1520 1455 adaption of template sets
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AdaptTemplatesCommandTest.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/AdaptTemplatesCommand.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ResourcesPluginUtil.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/TemplateAdapter.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/TemplateSelectionForAdaptionException.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/UpgradeTemplatesNotificationException.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplateProcessingTest.java
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/AdaptMonolithicTemplatesTest/templates/templates-devon4j-0.0.1-sources.jar
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/AdaptMonolithicTemplatesTest/templates/templates-devon4j-0.0.1.jar
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/AdaptTemplateSetsTest/template-sets/downloaded/template-test1-0.0.1.jar
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/AdaptTemplateSetsTest/template-sets/downloaded/template-test2-0.0.1.jar
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/adapter/TemplateAdapterImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ExtractTemplatesUtil.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/adapter/TemplateAdapterTest.java
Labels: comp:core, app:eclipse, app:cli, Team_CobiGen_Templates
