Repository devonfw/cobigen, pull requests merged in 2022-05, with the labels that each got.

#1527 1496 fix wrong thread in ExceptionHandler
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/ExceptionHandlingTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/input/PlainInput.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/.project
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/logback.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/TestOutput.txt.ftl
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/templates.xml
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ExceptionHandler.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/PlatformUIUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/handler/GenerateJob.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
  documentation/guide_dev_troubleshooting.asciidoc
Labels: comp:core, app:eclipse, documentation, Team_CobiGen_Templates

#1490 use annotations of the patchfile, if javamerge_override is set.
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/merger/JavaMerger.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/merger/JavaMergerTest.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_ClassAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_MethodAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_PropertyAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_ClassAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_MethodAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_PropertyAnnotation.java
Labels: comp:javaplugin, bugfix, Team_CobiGen_Templates

#1533 #1532 fixed HealthCheck not being able to handle a conflict with the old and new configuration
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ExceptionHandler.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/healthcheck/HealthCheckDialog.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/ConfigurationConflictException.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
Labels: comp:core, app:eclipse, Team_CobiGen_Templates

#1525 1511 enable custom template set group ids for lookup
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/TemplateSetConfiguration.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/GenerationProcessorImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ConfigurationFinder.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/ConfigurationFinderTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/properties/emptyConfigProperties/config.properties
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/properties/validConfigProperties/config.properties
  documentation/cobigen-core_configuration.asciidoc
Labels: comp:core, documentation, Team_CobiGen_Templates

#1535 1511 enable custom template set group ids for lookup
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/ConfigurationFinderTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/properties/validConfigProperties/config.properties
  documentation/cobigen-core_configuration.asciidoc
Labels: comp:core, documentation, Team_CobiGen_Templates
