Repository devonfw/cobigen, pull requests merged in 2022-06, with the labels that each got.

#1536 #1509 Ignore extractTemplatesWithOldCinfiguration
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AdaptTemplatesCommandTest.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/AdaptTemplatesCommand.java
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/constants/MessagesConstants.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/AdaptTemplatesTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
Labels: app:eclipse, app:cli, Team_CobiGen_Templates

#1538 #1519 added possible Log warning places for CLI
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/GenerateCommandTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/AdaptTemplatesTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/ClassPathLoadingTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/CobigenJavaWrapperTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/HealthCheckTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/MultipleMatchingTriggerTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/OpenAPITest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/VelocityGenerationTest.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/GeneratorWrapperFactory.java
  cobigen-maven/cobigen-maven-plugin/src/main/java/com/devonfw/cobigen/maven/GenerateMojo.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/integrationtest/AnnotationQueryingTest.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/integrationtest/ModelCreationTest.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/integrationtest/VariablesResolutionTest.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/integrationtest/InputReaderMatcherTest.java
  cobigen-plugins/cobigen-templateengines/cobigen-tempeng-velocity/src/test/java/com/devonfw/cobigen/tempeng/velocity/systemtest/VelocityTemplateEngineIntegrationTest.java
  cobigen-plugins/cobigen-xmlplugin/src/test/java/com/devonfw/cobigen/xmlplugin/integrationtest/XPathGenerationTest.java
  cobigen-plugins/cobigen-xmlplugin/src/test/java/com/devonfw/cobigen/xmlplugin/integrationtest/XmlPluginIntegrationTest.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/DeprecatedMonolithicTemplatesException.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/CobiGenPaths.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ContainerMatcherTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/GenerationTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplateScanTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TransactionalGenerationTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TriggerActivationTest.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/ConfigurationHolder.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
Labels: comp:core, app:eclipse, comp:javaplugin, comp:xmlplugin, app:maven, comp:tempeng:velocity, comp:openapiplugin, app:cli, Team_CobiGen_Templates

#1543 Merged master into template-set-deployables feature branch
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/ExceptionHandlingTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/input/PlainInput.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/.project
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/logback.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/TestOutput.txt.ftl
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/ExceptionHandlingTest/templates/src/main/templates/template1/templates.xml
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ExceptionHandler.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/PlatformUIUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/healthcheck/HealthCheckDialog.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/workbenchcontrol/handler/GenerateJob.java
  cobigen-eclipse/pom.xml
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/merger/JavaMerger.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/java/com/devonfw/cobigen/javaplugin/unittest/merger/JavaMergerTest.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_ClassAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_MethodAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/BaseFile_PropertyAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_ClassAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_MethodAnnotation.java
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/test/resources/testdata/unittest/merger/PatchFile_PropertyAnnotation.java
  cobigen-plugins/cobigen-tsplugin/pom.xml
  cobigen-plugins/cobigen-tsplugin/src/test/java/com/devonfw/cobigen/tsplugin/merger/TypeScriptMergerTest.java
  cobigen-plugins/cobigen-tsplugin/src/test/resources/testdata/unittest/files/export_const_base.ts
  cobigen-plugins/cobigen-tsplugin/src/test/resources/testdata/unittest/files/export_const_patch.ts
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/ConfigurationConflictException.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/conflicted_old_templates/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/conflicted_old_templates/src/main/templates/test_template/context.xml
  documentation/guide_dev_troubleshooting.asciidoc
Labels: comp:core, app:eclipse, comp:javaplugin, documentation, comp:tsplugin, Team_CobiGen_Templates

#1546 1465 template set documentation
  documentation/cobigen-core_configuration.asciidoc
Labels: documentation, Team_CobiGen_Templates

#1547 1526 fixed infinite loop while generating from source code
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/GenerateFromTextInputTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/input/PlainInput.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/.classpath
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/.project
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/logback.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/pom.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/src/main/templates/template1/TestOutput.txt.ftl
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/src/main/templates/template1/context.xml
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/GenerateFromTextInputTest/templates/src/main/templates/template1/templates.xml
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/PlatformUIUtil.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/generator/GeneratorWrapperFactory.java
Labels: app:eclipse, Team_CobiGen_Templates
