Repository devonfw/cobigen, pull requests merged in 2022-09, with the labels that each got.

#1561 #1548 SearchCriteriaTo generated in wrong package.
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/common/api/${variables.entityName}SearchCriteriaTo.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/dataaccess/api/repo/${variables.entityName}Repository.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/rest/${variables.component#cap_first}RestServiceCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/api/soap/${variables.component#cap_first}SoapService.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/rest/${variables.component#cap_first}RestServiceImpl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/rest/${variables.component#cap_first}RestServiceImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/templates/java/${variables.rootPackage}/${variables.component}/service/impl/soap/${variables.component#cap_first}SoapServiceImpl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/api/usecase/UcFind${variables.entityName}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/api/usecase/UcFind${variables.entityName}Ctos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/${variables.component#cap_first}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/${variables.component#cap_first}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcFind${variables.entityName}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/templates/java/${variables.rootPackage}/${variables.component}/logic/impl/usecase/UcFind${variables.entityName}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/dataaccess/api/repo/${variables.entityName}Repository.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/api/usecase/UcFind${variables.entityName}.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/api/usecase/UcFind${variables.entityName}Ctos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/${variables.component#cap_first}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/${variables.component#cap_first}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/usecase/UcFind${variables.entityName}Impl.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/logic/impl/usecase/UcFind${variables.entityName}ImplCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/api/rest/${variables.component#cap_first}RestServiceCtos.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/impl/rest/${variables.component#cap_first}RestServiceImplCtos.java.ftl
Labels: bug, templates, good first issue, Team_CobiGen_Templates

#1562 # 1521 Attached Template-set plugin for deployment
  cobigen-templates/crud-angular-client-app/pom.xml
  cobigen-templates/pom.xml
Labels: templates

#1554 1510 allow template sets to be installed
  cobigen-eclipse/cobigen-eclipse-test/src/main/resources/OpenAPITest/templates/context.xml
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/TemplatesJarConstants.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/MavenCoordinate.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/TemplatesJarUtil.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplatesInstallationTest.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/TemplateSetConfiguration.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/util/ConfigurationFinder.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/ConfigurationFinderTest.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/templates/TemplateJarDownloaderTest.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/util/ConfigurationUtilTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/properties/invalidConfigProperties/config.properties
  documentation/cobigen-core_configuration.asciidoc
Labels: comp:core, app:eclipse, documentation

#1556 #1529 added first implementation of extensible artifact search REST API
  cobigen/cobigen-core-api/pom.xml
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/MavenSearchRepositoryConstants.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/MavenSearchRepositoryType.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/RestSearchResponseException.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/MavenUtil.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/AbstractSearchResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/SearchResponseFactory.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/jfrog/JfrogSearchResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/jfrog/JfrogSearchResponseResult.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/maven/MavenSearchResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/maven/MavenSearchResponseDoc.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/maven/MavenSearchResponseResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus2/Nexus2SearchResponeArtifactLinks.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus2/Nexus2SearchResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus2/Nexus2SearchResponseArtifactHits.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus2/Nexus2SearchResponseData.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus3/Nexus3SearchResponse.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus3/Nexus3SearchResponseAsset.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/to/nexus3/Nexus3SearchResponseItem.java
  cobigen/cobigen-core-api/src/test/java/com/devonfw/cobigen/api/MavenUtilTest.java
  cobigen/cobigen-core-api/src/test/resources/logback-test.xml
  cobigen/cobigen-core-api/src/test/resources/testdata/unittest/MavenUtilTest/jfrogJsonTest.json
  cobigen/cobigen-core-api/src/test/resources/testdata/unittest/MavenUtilTest/mavenJsonTest.json
  cobigen/cobigen-core-api/src/test/resources/testdata/unittest/MavenUtilTest/nexus2JsonTest.json
  cobigen/cobigen-core-api/src/test/resources/testdata/unittest/MavenUtilTest/nexus3JsonTest.json
  cobigen/core-externalprocess-api/pom.xml
  pom.xml
Labels: comp:core, Team_CobiGen_Templates

#1575 Update mgmt_ide-setup.asciidoc
  documentation/mgmt_ide-setup.asciidoc
Labels: documentation, Team_CobiGen_Templates

#1581 fix merge error
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/util/ConfigurationUtilTest.java
Labels: comp:core, app:eclipse
