Repository devonfw/cobigen, pull requests merged in 2022-02, with the labels that each got.

#1471 Adapt folder structure to new concept
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_ea_uml/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_service_based_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_net/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_typescript_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates/docs/${variables.component}To.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/NamedQueries.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates/docs/${variables.component}Doc.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates/docs/${variables.component}RESTInterfaces.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/PermissionConstants.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/testdata_builder/context.xml
Labels: templates, Team_CobiGen_Templates

#1475 removeDuplicateCode
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
Labels: Team_CobiGen_Templates

#1477 Changed configuration reader test
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/WikiConstants.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
Labels: comp:core, Team_CobiGen_Templates

#1474 Fix for GenerateCommandTest
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/GenerateCommandTest.java
Labels: Team_CobiGen_Templates

#1444 Spellchecker - Added reusable workflow and fixing spell mistake
  .github/workflows/spellcheck.yml
  .spellcheck.yml
  documentation/_Sidebar.asciidoc
  documentation/cobigen-core_configuration.asciidoc
  documentation/cobigen-core_development.asciidoc
  documentation/cobigen-eclipse_installation.asciidoc
  documentation/cobigen-eclipse_usage.asciidoc
  documentation/cobigen-javaplugin.asciidoc
  documentation/cobigen-jsonplugin.asciidoc
  documentation/cobigen-openapiplugin.asciidoc
  documentation/cobigen-textmerger.asciidoc
  documentation/cobigen-usecases.asciidoc
  documentation/cobigen-xmlplugin.asciidoc
  documentation/eclipse-plugin_development.asciidoc
  documentation/guide_dev_troubleshooting.asciidoc
  documentation/howto-devonfw-CobiGen-OpenAPI.asciidoc
  documentation/howto-devonfw-adapt_template.asciidoc
  documentation/howto-devonfw-ide-CobiGen-PoC-E2E.asciidoc
  documentation/howto_Cobigen-CLI-generation.asciidoc
  documentation/howto_angular-client-generation.asciidoc
  documentation/howto_create-a-new-plugin.asciidoc
  documentation/howto_devon4net.asciidoc
  documentation/howto_enable_composite_primary_keys_in_entity.asciidoc
  documentation/howto_ionic-client-generation.asciidoc
  documentation/master-cobigen.asciidoc
  documentation/mgmt_dependency-and-license-tracking.asciidoc
  documentation/mgmt_ide-setup.asciidoc
  documentation/setup-jre.asciidoc
Labels: documentation

#1481 1440 fix template syntax error
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/templates/java/${variables.rootPackage}/${variables.component#lower_case}/service/api/rest/${variables.component#cap_first}RestService.java.ftl
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesOpenApiInput/OpenAPI.yaml
Labels: templates, bugfix, Team_CobiGen_Templates

#1482 #1403 added package
  documentation/howto-devonfw-ide-CobiGen-PoC-E2E.asciidoc
Labels: documentation, Team_CobiGen_Templates

#1483 #1403 replaced general with employeemanagement from package path
  documentation/howto-devonfw-ide-CobiGen-PoC-E2E.asciidoc
Labels: documentation, Team_CobiGen_Templates

#1484 Fixed requested changes
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
Labels: comp:core, Team_CobiGen_Templates

#1478 Update config folder structure and reader for modular template sets
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/GenerateCommandTest.java
  cobigen-templates/templates-devon4j/src/main/templates/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_ionic_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_ea_uml/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_java_server_app_complex/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_ngrx_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_angular_service_based_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_ionic_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_java_server_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_openapi_net/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/crud_typescript_angular_client_app/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates/docs/${variables.component}To.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/kafka_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/NamedQueries.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/named_queries/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/functions.ftl
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates/docs/${variables.component}Doc.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/openapi_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates/docs/${variables.component}RESTInterfaces.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/rest_documentation/templates/docs/Documentation.adoc.ftl
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/PermissionConstants.java.ftl
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/context.xml
  cobigen-templates/templates-devon4j/src/main/templates/security_permissions/templates.xml
  cobigen-templates/templates-devon4j/src/main/templates/testdata_builder/context.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesEntityInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesEtoInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesOpenApiInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesRestServiceInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesToInput/pom.xml
  cobigen-templates/templates-devon4j/src/test/resources/testdata/templatetest/TestAllTemplatesXMLInput/pom.xml
  cobigen/cobigen-core/pom.xml
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/ContextConfigurationVersion.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/constant/WikiConstants.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
  cobigen/cobigen-core/src/main/resources/schema/v2.2/contextConfiguration.xsd
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/reader/ContextConfigurationReaderTest.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/config/upgrade/ContextConfigurationUpgraderTest.java
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/invalid_new/src/main/templates/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/invalid_new/src/main/templates/test_template/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_new/src/main/templates/test_template/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/reader/ContextConfigurationReaderTest/valid_new/src/main/templates/test_template2/context.xml
  cobigen/cobigen-core/src/test/resources/testdata/unittest/config/upgrade/ContextConfigurationUpgraderTest/valid-v2.2/context.xml
Labels: templates, comp:core, app:cli, Team_CobiGen_Templates

#1473 1406 change the signature of the function resolveVariables and fill t…
  cobigen-plugins/cobigen-javaplugin-parent/cobigen-javaplugin/src/main/java/com/devonfw/cobigen/javaplugin/matcher/JavaMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/util/constants/Constants.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/integrationtest/InputReaderMatcherTest.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
  cobigen-plugins/cobigen-tsplugin/src/main/java/com/devonfw/cobigen/tsplugin/matcher/TypeScriptMatcher.java
  cobigen-plugins/cobigen-xmlplugin/src/main/java/com/devonfw/cobigen/xmlplugin/matcher/XmlMatcher.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/extension/MatcherInterpreter.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/to/VariableAssignmentTo.java
  cobigen/cobigen-core-api/src/test/java/com/devonfw/cobigen/api/matchers/VariableAssignmentToMatcher.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ClassLoadingTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ContainerMatcherTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/GenerationTest.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/util/PluginMockFactory.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/entity/VariableAssignment.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/ContextConfigurationReader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/ConfigurationInterpreterImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/generator/GenerationProcessorImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/model/ContextVariableResolver.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/model/ModelBuilderImpl.java
  cobigen/cobigen-core/src/main/resources/schema/v2.2/contextConfiguration.xsd
Labels: comp:core, comp:javaplugin, comp:xmlplugin, comp:tsplugin, comp:openapiplugin, Team_CobiGen_Templates

#1485 #1299 re-introduced changes from PR #1300 because of merge conflict
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/ContainerMatcherTest.java
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/ContainerMatcherTest/accumulationType/context.xml
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/entity/Matcher.java
Labels: comp:core, bugfix, Team_CobiGen_Templates

#1487 Changed picture and text to make it clear what plugins need to be installed
  documentation/cobigen-eclipse_installation.asciidoc
  documentation/images/howtos/installation/02-select-update-site.png
Labels: documentation, Team_CobiGen_Templates

#1486 Use String format for mandatory property warning/error
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/matcher/OpenAPIMatcher.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/main/java/com/devonfw/cobigen/openapiplugin/util/constants/Constants.java
  cobigen-plugins/cobigen-openapiplugin-parent/cobigen-openapiplugin/src/test/java/com/devonfw/cobigen/openapiplugin/unittest/matcher/OpenAPIMatcherTest.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/upgrade/ContextConfigurationUpgrader.java
Labels: comp:core, comp:openapiplugin, Team_CobiGen_Templates

#1488 Fixed some typos.
  documentation/Guide-to-the-Reader.asciidoc
Labels: documentation, Team_CobiGen_Templates
