Repository devonfw/cobigen, pull requests merged in 2023-03, with the labels that each got.

#1614 #1608 Added a new Wiki page for IntelliJ installation and configurati…
  documentation/cobigen-intellij-installation.asciidoc
  documentation/images/howtos/intellij/adapter-plugin-settings.png
  documentation/images/howtos/intellij/argline.png
  documentation/images/howtos/intellij/cli-debug.png
  documentation/images/howtos/intellij/delegate-to-maven.png
  documentation/images/howtos/intellij/java-sdk.png
  documentation/images/howtos/intellij/maven-settings.png
Labels: documentation, Team_CobiGen_Templates

#1644 Created Definiton of Done
  documentation/DoD.asciidoc
Labels: documentation

#1641 1622 Restore and fixed adaptTemplatesTest on eclipse
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/AdaptTemplatesTest.java
  cobigen-eclipse/cobigen-eclipse-test/src/main/java/com/devonfw/cobigen/eclipse/test/common/utils/EclipseCobiGenUtils.java
  cobigen-eclipse/cobigen-eclipse/src/com/devonfw/cobigen/eclipse/common/tools/ResourcesPluginUtil.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/CobiGenPaths.java
Labels: comp:core, app:eclipse

#1645 1495 fixed working branch adapt templates feature
  .gitignore
  cobigen-cli/cli-systemtest/pom.xml
  cobigen-cli/cli-systemtest/src/test/java/com/devonfw/cobigen/cli/systemtest/AdaptTemplatesCommandIT.java
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app-complex/pom.xml
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app-complex/src/main/java/com/test.java
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app-complex/src/main/resources/functions.ftl
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app-complex/src/main/resources/template-set.xml
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app-complex/src/main/resources/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app/pom.xml
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app/src/main/java/com/test.java
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app/src/main/resources/functions.ftl
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app/src/main/resources/template-set.xml
  cobigen-cli/cli-systemtest/src/test/resources/testdata/AdaptTemplatesCommandIT/template-sets/adapted/crud-java-server-app/src/main/resources/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen-cli/cli/src/main/java/com/devonfw/cobigen/cli/commands/AdaptTemplatesCommand.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/TemplateAdapter.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/constants/ConfigurationConstants.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/exception/TemplateSelectionForAdaptionException.java
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/TemplatesJarUtil.java
  cobigen/cobigen-core-systemtest/pom.xml
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/TemplateProcessingTest.java
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app-complex/pom.xml
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app-complex/src/main/java/com/test.java
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app-complex/src/main/resources/functions.ftl
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app-complex/src/main/resources/template-set.xml
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app-complex/src/main/resources/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app/pom.xml
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app/src/main/java/com/test.java
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app/src/main/resources/functions.ftl
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app/src/main/resources/template-set.xml
  cobigen/cobigen-core-systemtest/src/test/resources/testdata/systemtest/TemplateProcessingTest/template-sets/adapted/crud-java-server-app/src/main/resources/templates/java/${variables.rootPackage}/${variables.component}/logic/api/to/${variables.entityName}Eto.java.ftl
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/adapter/TemplateAdapterImpl.java
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/config/reader/TemplateSetConfigurationManager.java
  cobigen/cobigen-core/src/test/java/com/devonfw/cobigen/unittest/adapter/TemplateAdapterTest.java
Labels: comp:core, app:cli

#1653 #1638 implemented download jar process (from properties)
  cobigen/cobigen-core-api/src/main/java/com/devonfw/cobigen/api/util/TemplatesJarUtil.java
  cobigen/cobigen-core-systemtest/src/test/java/com/devonfw/cobigen/systemtest/DownloadTemplateSetsIT.java
  cobigen/cobigen-core/pom.xml
  cobigen/cobigen-core/src/main/java/com/devonfw/cobigen/impl/CobiGenFactory.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/ArtifactRetriever.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/constants/MavenSearchRepositoryConstants.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/AbstractSearchResponse.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/ServerCredentials.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/jfrog/JfrogSearchResponse.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/maven/MavenSearchResponse.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/nexus2/Nexus2SearchResponse.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/mavensearch/to/model/nexus3/Nexus3SearchResponse.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/TemplateSetArtifactReader.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/ContextConfiguration.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSet.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetConfiguration.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetIncrement.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetIncrements.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetTag.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetTags.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetTrigger.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplateSetTriggers.java
  cobigen/core-artifact-retriever/src/main/java/com/devonfw/cobigen/retriever/reader/to/model/TemplatesConfiguration.java
  cobigen/core-artifact-retriever/src/test/java/com/devonfw/cobigen/retriever/ArtifactRetrieverTest.java
  cobigen/core-artifact-retriever/src/test/java/com/devonfw/cobigen/retriever/TemplateSetArtifactReaderTest.java
  cobigen/core-artifact-retriever/src/test/resources/testdata/unittest/ArtifactRetrieverTest/template-set1.xml
  cobigen/core-artifact-retriever/src/test/resources/testdata/unittest/ArtifactRetrieverTest/template-set2.xml
  cobigen/core-artifact-retriever/src/test/resources/testdata/unittest/TemplateSetArtifactReaderTest/crud-java-server-app-2021.08.001-template-set.xml
  cobigen/core-artifact-retriever/src/test/resources/testdata/unittest/TemplateSetArtifactReaderTest/template-set.xml
  pom.xml
Labels: comp:core, Team_CobiGen_Templates
